doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel="stylesheet", href="style.css")
body
  table(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='text-align: left;height: 100%;width: 100%;')
    tr
      td(align='center')
        table.msgBody(border='0' cellpadding='0' cellspacing='0')
          include ../templates/header.pug
          tr
            td.content
              h1= `Reset your password`
              p= t('We heard that you lost your Agnost cluster password. Sorry about that! But don\’t worry!')
              p= t('Please click below button to reset your password. If you don\’t use this link within the next hour, it will expire.')
          tr
            td.button
              a.button(href=`${url}` rel='nofollow' target='_blank')= t('Choose a new password')
          tr
            td.content
              p= t('If you did not mean to reset your password, then you can just ignore this email; your password will not change.')
          include ../templates/footer.pug