doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel="stylesheet", href="style.css")
body
  table(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='text-align: left;height: 100%;width: 100%;')
    tr
      td(align='center')
        table.msgBody(border='0' cellpadding='0' cellspacing='0')
          include ../templates/header.pug
          tr
            td.content
              h1= t('Confirm your email address')
              p= t('Thank you for start using Agnost. We\'re happy you\'re joining our growing community!')
              p= t('To complete your sign up and activate your account, we just need to verify your email address. Please enter the code below in the window where you began creating or signing into your Agnost account:')
          tr
            td.code
              p
                | #{code1}#{code2}
          tr
            td.content
              p= t('Once verified, you can start using Agnost\'s features to build your applications.')
              p= t('Questions about developing apps in Agnost? ')
                a(href='https://www.agnost.dev' rel='nofollow' target='_blank') Learn more about Agnost
          tr
            td.content
          include ../templates/footer.pug