doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel="stylesheet", href="style.css")
body
  table(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='text-align: left;height: 100%;width: 100%;')
    tr
      td(align='center')
        table.msgBody(border='0' cellpadding='0' cellspacing='0')
          include ../templates/header.pug
          tr
            td.content
              h1= t('Join Organization')
              p= t('You have been invited you to join the organization ')
                span.bold #{organization}
                span= t(" with '%s' permissions.", `${role}`)
              p= t('Please click below button to join and start developing apps!')
          tr
            td.button
              a.button.marginbottom(href=`${url}` rel='nofollow' target='_blank')= t('Accept Invitation')
          tr
            td.content
              h2= t('What is Agnost?')
              p= t('Agnost is an open-source development platform for building applications running in Kubernetes clusters easily at scale.')
              |
              a(href='https://www.agnost.dev' rel='nofollow' target='_blank') Learn more about Agnost
          tr
            td.content
          include ../templates/footer.pug