doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel="stylesheet", href="style.css")
body
  table(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='text-align: left;height: 100%;width: 100%;')
    tr
      td(align='center')
        table.msgBody(border='0' cellpadding='0' cellspacing='0')
          include ../templates/header.pug
          tr
            td.content
              h1= t('Confirm your email address')
              p= t('You requested a change to the contact email address.')
              p= t('Please click below button to confirm that this is the right address. If you don\’t use this link within 24 hours, it will expire.')
          tr
            td.button
              a.button(href=`${url}` rel='nofollow' target='_blank')= t('Confirm your email address')
          tr
            td.content
              p= t('Once verified, your contact email address will be updated.')
              p= t('If you did not request a change to your contact email address, please contact us at ')
                a(href='mailto:support@altogic.com' rel='nofollow' target='_blank') support@altogic.com
                span .
                br
              p= t('The Altogic Team')
          include ../templates/footer.pug